<!DOCTYPE html>
<html>
  <head>
    <title>Зачетная работа</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--<a href="/"><img src="<%= asset_path('logo.jpg') %>" width="45px" height="45px"></a>-->
      <span id="user-information">
        <% if  @account %>
          <% if @user %>
            <span class="account-name">Пользователь <%= @user.name %></span>
          <% elsif @organisation %>
            <span class="account-name">Организация <%= @organisation.name %></span>
          <% end %>
          &nbsp;
          <a href="/logout">Выйти</a>
        <% else %>
          <a href="/login">Войти</a>
        <% end %>
      </span>
      <a href="/"><h2 id="website-name">find-job.ru</h2></a>&nbsp;&nbsp;
      <% if @organisation %>
        <a href="/organisation/<%= @organisation.id %>">Ваша организация</a>
      <% else %>
        <!--<a href="/list">Список организаций</a>-->
      <% end %>
      <hr>
    </header>
    <%= yield %>
  </body>
</html>
